flask==1.0.2
requests==2.23.0
google-cloud-storage==1.13.2
google-cloud-bigquery==1.9.0
google-cloud-language==1.1.1
#google-cloud-dlp==0.10.0
#google-cloud-automl==0.2.0
grpcio==1.19.0
#gensim==3.7.1
google-cloud-texttospeech==2.0.0

